#  control -- information about source and binary packages
#  Copyright (C) 2007, 2009  EPSON AVASYS CORPORATION
#
#  This file is part of the "Image Scan!" build infra-structure.
#
#  The "Image Scan!" build infra-structure is free software.
#  You can redistribute it and/or modify it under the terms of the GNU
#  General Public License as published by the Free Software Foundation;
#  either version 2 of the License or at your option any later version.
#
#  This program is distributed in the hope that it will be useful, but
#  WITHOUT ANY WARRANTY;  without even the implied warranty of FITNESS
#  FOR A PARTICULAR PURPOSE or MERCHANTABILITY.
#  See the GNU General Public License for more details.
#
#  You should have received a verbatim copy of the GNU General Public
#  License along with this program; if not, write to:
#
#	 Free Software Foundation, Inc.
#	 59 Temple Place, Suite 330
#	 Boston, MA  02111-1307	 USA


Source: iscan
Section: non-free/graphics
Priority: extra
Maintainer: AVASYS CORPORATION <linux-scanner@epson.jp>
Build-Depends: cdbs, debhelper (>= 5.0.42), libsane-dev, libltdl7-dev | libltdl3-dev, libgtk2.0-dev, libpng-dev, libjpeg-dev, libgimp2.0-dev, libtiff4-dev, libxml2-dev, libusb-1.0-0-dev | libusb-dev
Standards-Version: 3.7.2

Package: iscan
Architecture: i386 amd64
Depends: iscan-data, ${shlibs:Depends}, ${misc:Depends}
Recommends: gimp
Conflicts: iscan-network-nt (<< 1.1), iscan-plugin-cx4400 (<< 2.1), iscan-plugin-gt-7200 (<< 2.1), iscan-plugin-gt-7300 (<< 2.1), iscan-plugin-gt-9400 (<< 2.1), iscan-plugin-gt-f500 (<< 2.1), iscan-plugin-gt-f520 (<< 2.1), iscan-plugin-gt-f600 (<< 2.1), iscan-plugin-gt-f670 (<< 2.1), iscan-plugin-gt-f700 (<< 2.1), iscan-plugin-gt-s600 (<< 2.1), iscan-plugin-gt-x750 (<< 2.1)
Replaces: libsane-extras
Description: simple, easy to use scanner utility for EPSON scanners
 Image Scan! is a graphical scanner utility for people that do not need
 all the bells and whistles provided by several of the other utilities
 out there (xsane, QuiteInsane, Kooka).
 .
 At the moment it only supports SEIKO EPSON scanners and all-in-ones.
 However, the scanner driver it provides can be used by any other SANE
 standard compliant scanner utility.
 .
 Note that several scanners require a non-free plugin before they can
 be used with this software.
